@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

body {
    font-family: 'Comic Neue', cursive;

    overflow: hidden;
}

#botao_claquete, #videos, #botao_paleta, #vamos_pintar, #botao_sol, #vamos_desenhar, .return_button, #thumbnail {
    cursor: pointer;
    transition: 0.3s;
}

#botao_claquete:hover, #videos:hover, #botao_paleta:hover, #vamos_pintar:hover, #botao_sol:hover, #vamos_desenhar:hover, .return_button:hover, #thumbnail:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

.paintingColors{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 45%;
    height: 100%;
}

.paintingDrawning{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    border: 2px solid lightgray;
    border-radius: 10px;
    height: 100%;
}

.mainPaintingArea{
    position: relative;
    top: 4.8vh;
    left: 10%;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    height: 88vh;
}

.color{
    width: 45%;
    height: 15%;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    gap: 3%;
    align-items: center;
    border: none;
    box-shadow: 0px 0px 10px 0px gray;
    border-radius: 10px;
    padding-left: 2%;
}

.colorIcon{
    width: 30%;
    height: 60%;
    border-radius: 10px;
}

.colorName{
    font-size: 2.4vw;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.printIcon{
    width: 35%;
}

#printArea{
    display: flex;
    justify-content: center;
}

.peca_barata_01{
    position: absolute;
    top: 21.1vh;
    left: 44.3vh;
    width: 10vh;
    z-index: 1003;
    pointer-events: none;
}
.peca_barata_01_path{
    pointer-events: all;
    cursor: pointer;
}

.peca_barata_02{
    position: absolute;
    top: 11vh;
    left: 38vh;
    height: 19vh;
    z-index: 1002;
}
.peca_barata_02_path{
    pointer-events: all;
    cursor: progress;
}


.peca_barata_03{
    position: absolute;
    top: 24.5vh;
    left: 36vh;
    height: 40vh;
    z-index: 1001;
    pointer-events: none;
}
.peca_barata_03_path{
    pointer-events: all;
    cursor: text;
}

.peca_barata_04{
    position: absolute;
    top: 0vh;
    left: 11.5vh;
    height: 85vh;
    z-index: 997;
    pointer-events: none;
}
.peca_barata_04_path_1, .peca_barata_04_path_2, .peca_barata_04_path_3, .peca_barata_04_path_4, .peca_barata_04_path_5, .peca_barata_04_path_6, .peca_barata_04_path_7{
    pointer-events: all;
    cursor: cell;
}


.peca_barata_05{
    position: absolute;
    top: 22vh;
    left: 28.9vh;
    height: 53vh;
    z-index: 990;
    pointer-events: none;
}
.peca_barata_05_path{
    pointer-events: all;
    cursor: crosshair;
}


.peca_barata_06{
    position: absolute;
    top: 0vw;
    left: 12vh;
    height: 85vh;
    z-index: 1010;
    pointer-events: none;

}
.peca_barata_06_path{
    pointer-events: none;
    cursor: crosshair;
}

.peca_barata_07{
    position: absolute;
    top: 24.3vh;
    left: 30.2vh;
    height: 50vh;
    z-index: 990;
    pointer-events: none;
}
.peca_barata_07_path{
    pointer-events: none;
    cursor: crosshair;
}

